body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
/* top banner section */
h1{
    font-size: 51px;
}
span{
    color: rgb(252, 114, 2);
}
.flexibal_container{
    display: flex;
}
.helf-width{
    width: 50%;
    padding-left: 6%;
}
.helf-width img{
    width: 90%;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 800;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
/* end top banner section */
/* start dream big section */
.dream_big{
    margin-top: 60px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream_big_1{
    width: 50%;
}
.dream_big_1 img{
    width: 90%;
}
/* end dream big section */
/* start experiance area */
.experiance_area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiance_item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    border-radius: 6px;
    border-left: 10px solid;
}
h2{
    font-size: 40px;
}
#full-stack-web{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#baby-web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
/* end experiance area */
/* start footer section */
footer{
    text-align: center;
}
